eextends layout

block content
	p= 'Unfortunately that Twitch account does not meet the criteria required for this Discord.'
	p Requires #{follows_required} total follows across moderated channels. You have #{follows}.
	p Requires #{partners_required} total partnered channels moderated. You have #{partners}.